[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://test.pypi.org/simple/"
verify_ssl = true
name = "testpypi"

[dev-packages]
pytest = "*"

[packages]
python-dotenv = "*"

[requires]
python_version = "3"
