[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://test.pypi.org/simple/"
verify_ssl = true
name = "testpypi"

[dev-packages]
pytest = "*"

[packages]
google-auth = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
google-api-python-client = "*"

[requires]
python_version = "3"
